<mat-grid-list [cols]="responsiveService.currentScreen()" rowHeight="1:1" gutterSize="16px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="product-card">
      <div class="image-wrapper">
        <img [src]="product.image" alt="{{ product.name }}" />
      </div>

      <div class="card-content">
        <div class="text-info">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
        </div>

        <div class="price-row">
          <span class="price">₹ {{ product.price }}</span>
          <app-star-rating
            [rating]="product.rating"
          ></app-star-rating>
        </div>

        <mat-card-actions>
          <button matButton (click)="addToCart(product)" class="full-width">
            <mat-icon>shopping_cart</mat-icon>
            Add to Cart
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
