.layout-container {
  height: 100vh;
}

.topbar {
  display: flex;
  align-items: center;

  .logo {
    margin-left: 10px;
    font-weight: bold;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.content {
  padding: 1rem;
}

.mat-drawer {
  width: 10rem;
}
